<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../partials/head.ejs"); -%>
        <%- include("./../partials/sweet-alert-head.ejs"); -%>
        <%- include("./../partials/confirm-modal.ejs"); -%>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../partials/nav.ejs"); -%>
            <%- include("./../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <br>
                        
                        <%- include("./../partials/content-head.ejs"); -%>
                        <%- include("./../partials/card-item.ejs"); -%>
                        <%- include("./../partials/chart.ejs"); -%>
                        <%- include("./../partials/line-chart.ejs"); -%>
                        <%- include("./../partials/donut-chart.ejs"); -%>
                    </div>
                </div>
            </div>

            <%- include("./../partials/footer.ejs"); -%>
        </div>

        <%- include("./../partials/script.ejs"); -%>
    </body>
    
    <%- include("./../partials/toast-script.ejs"); -%>
</html>
