<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <%- include("./../partials/head.ejs"); -%>
        <%- include("./../partials/sweet-alert-head.ejs"); -%>
        <%- include("./../partials/confirm-modal.ejs"); -%>
        <%- include("./../partials/select-head.ejs"); -%>
    </head>

    <body class="hold-transition dark-mode" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="login-box" id="laporan-form">
            <div class="card">
                <%- include("./../partials/authentication/brand.ejs"); -%>

                <div class="card-body">
                    <form action="/laporan" method="post" class="mb-2" onsubmit="return confirmModal('form', this, {elementId: 'laporan-form'});">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="identification" placeholder="NIK" required/>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-address-card"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Nama" required/>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <select class="form-control select2bs4" name="idBin" required>
                                <option value="" selected>Tempat Pembuangan</option>

                                <% 
                                    binArray.forEach(binObject => {
                                %>
                                    <option value="<%= binObject._id %>"><%= binObject.name %></option>
                                <%
                                    });
                                %>
                            </select>

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-dumpster"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <textarea class="form-control" name="message" placeholder="Pesan" rows="2" style="resize: none;" required></textarea>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary btn-block">Lapor</button>
                            </div>
                        </div>

                        <p class="m-0 p-0">
                            <a href="/login">Login?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <%- include("./../partials/authentication/copyright.ejs"); -%>

        <%- include("./../partials/script.ejs"); -%>
    </body>

    <%- include("./../partials/toast-script.ejs"); -%>
    <%- include("./../partials/select-script.ejs"); -%>
</html>
