<% if (filterArray.length >= 1) { %>    
    <%- include("./select-head.ejs"); -%>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <% filterArray.forEach(filterObject => { %>
                        <div class="form-group">
                            <label for="<%= filterObject.name %>_select"><%= filterObject.display %></label>
                            <select name="<%= filterObject.name %>_select" class="form-control select2bs4 full-width" id="<%= filterObject.name %>_select" onchange="filterSelect();">
                                <option disabled><%= filterObject.placeholder %></option>

                                <option value="semua" selected>Semua</option>
                                
                                <% 
                                    filterObject.option.forEach(optionObject => { 
                                        if (optionObject.value == filterObject.value) { 
                                %> 
                                            <option value="<%= optionObject.value %>" selected><%= optionObject.display %></option>
                                    <% 
                                        } else if (optionObject.value != filterObject.value) {
                                    %>
                                            <option value="<%= optionObject.value %>"><%= optionObject.display %></option>
                                <% 
                                        }
                                    });
                                %>
                            </select>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <script src="plugins/jquery/jquery.min.js"></script>
    <%- include("./select-script.ejs"); -%>

    <script>
        const filterArray = eval('<%- JSON.stringify(filterArray.map(filterObject => {return {name: filterObject.name, query: filterObject.query}})) %>');

        function filterSelect() {
            let redirectString = ".";
            let queryLength = 0;
            
            filterArray.forEach((filterObject) => {
                const value = document.getElementById(`${filterObject.name}_select`).value;

                if (value != "semua") {
                    redirectString += `${queryLength == 0 ? '?' : '&'}${filterObject.query}=${value}`;
                    queryLength += 1;
                }
            });
            
            window.location = redirectString;
        };
    </script>
<% } %>