<% detailedInputArray.forEach(detailedInputObject => { %>
    <div class="form-group">
        <label for="<%= detailedInputObject.name %>"><%= detailedInputObject.display %></label>
        
        <% 
            if (detailedInputObject.enable) {
                if (!["select", "textarea"].includes(detailedInputObject.type)) {
        %>
                    <input type="<%= detailedInputObject.type %>" name="<%= detailedInputObject.name %>" class="form-control" id="<%= detailedInputObject.name %>" placeholder="<%= detailedInputObject.placeholder %>" value="<%= detailedInputObject.value %>" required>
        <%
                } else if (detailedInputObject.type == "select") {
        %>
                    <select name="<%= detailedInputObject.name %>" class="form-control select2bs4 full-width" id="<%= detailedInputObject.name %>" required>
                        <option disabled selected><%= detailedInputObject.placeholder %></option>

                        <% 
                            detailedInputObject.value[0].forEach(detailedInputValue => { 
                                if (detailedInputObject.value[1] == detailedInputValue[0]) { 
                        %> 
                                    <option value="<%= detailedInputValue[0] %>" selected><%= detailedInputValue[1] %></option>
                            <% 
                                } else if (detailedInputObject.value[1] != detailedInputValue[0]) {
                                    if (detailedInputObject.value[2] == null || (detailedInputObject.value[2] != null && !(detailedInputObject.value[2].includes(detailedInputValue[0])))) {
                            %>
                                        <option value="<%= detailedInputValue[0] %>"><%= detailedInputValue[1] %></option>
                            <%
                                    }  else if (detailedInputObject.value[2] != null && detailedInputObject.value[2].includes(detailedInputValue[0])) {     
                            %>
                                        <option value="<%= detailedInputValue[0] %>" disabled><%= detailedInputValue[1] %> - (Sudah Digunakan)</option>
                        <%
                                    }
                                }
                            });
                        %>
                    </select>
        <%
                } else if (detailedInputObject.type == "textarea") {
        %>
                    <textarea name="<%= detailedInputObject.name %>" class="form-control" id="<%= detailedInputObject.name %>" placeholder="<%= detailedInputObject.placeholder %>" rows="5" required><%= detailedInputObject.value %></textarea>    
        <%
                }
            } else if (!detailedInputObject.enable) {
                if (detailedInputObject.type != "textarea") {
        %>
                    <input type="<%= detailedInputObject.type %>" name="<%= detailedInputObject.name %>" class="form-control" id="<%= detailedInputObject.name %>" placeholder="<%= detailedInputObject.placeholder %>" value="<%= detailedInputObject.value %>" disabled style="opacity: 0.5 !important;">
        <% 
                } else if (detailedInputObject.type == "textarea") {
        %>
                    <textarea name="<%= detailedInputObject.name %>" class="form-control" id="<%= detailedInputObject.name %>" placeholder="<%= detailedInputObject.placeholder %>" rows="5" disabled style="opacity: 0.5 !important;"><%= detailedInputObject.value %></textarea>    
        <%
                }
            }; 
        %>
    </div>
<% }); %>