<% const pageItemCurrent = findPageItemChild(navActive[0], navActive[1]); %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../../../partials/head.ejs"); -%>
        <%- include("./../../../partials/data-table-head.ejs"); -%>
        <%- include("./../../../partials/sweet-alert-head.ejs"); %>
        <%- include("./../../../partials/confirm-modal.ejs"); -%>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../../../partials/nav.ejs"); -%> 
            <%- include("./../../../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <br>
                        
                        <%- include("./../../../partials/content-head.ejs", {extraTitle: "Utama"}); -%>
                        <%- include("./../../../partials/card-item.ejs"); -%>
                        <%- include("./../../../partials/filter.ejs"); -%>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="main-table" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="th-custom export">No.</th>

                                                    <% tableAttributeArray.forEach(tableAttributeObject => { %>
                                                        <th class="th-custom export"><%= tableAttributeObject.label %></th>
                                                    <% }); %>

                                                    <th class="th-custom export">Aktivitas</th>
                                                    <th class="th-custom export">Dibuat</th>
                                                    <th class="th-custom export">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% 
                                                    if (tableItemArray.length >= 1) { 
                                                        let number = 0; 
                                                        tableItemArray.forEach(tableItemObject => { 
                                                            number += 1;
                                                %>
                                                            <tr>
                                                                <td class="td-custom"><%= number %></td>

                                                                <% tableAttributeArray.forEach(tableAttributeObject => {
                                                                        let tableItemValue = "tableItemObject";

                                                                        let valueLength = tableAttributeObject.value.length;
                                                                        let i = 0;
                                                                        while (i < valueLength) {
                                                                            tableItemValue = tableItemValue + `[tableAttributeObject.value[${i}]]`;

                                                                            i += 1;
                                                                        }

                                                                        tableItemValue = eval(tableItemValue);

                                                                        if (tableAttributeObject.type == "date") {
                                                                            tableItemValue = moment(tableItemValue).format("DD-MM-YYYY");
                                                                        };
                                                                
                                                                        if (tableAttributeObject.type != "textarea") {
                                                                %>
                                                                            <td class="td-custom"><%= (tableAttributeObject.type != "date" && tableItemValue != null) || (tableAttributeObject.type == "date" && tableItemValue != "Invalid date") ? tableItemValue : "Tidak Ada" %></td>
                                                                <%
                                                                        } else if (tableAttributeObject.type == "textarea") {
                                                                %>
                                                                            <td class="td-textarea"><%= (tableAttributeObject.type != "date" && tableItemValue != null) || (tableAttributeObject.type == "date" && tableItemValue != "Invalid date") ? tableItemValue : "Tidak Ada" %></td>
                                                                <%
                                                                        }
                                                                    }); 
                                                                %>

                                                                <td class="td-custom"><%= tableItemObject.activity %></td>
                                                                <td class="td-custom"><%= moment(tableItemObject.createdAt).format("DD-MM-YYYY") %></td>
                                                                <td class="td-custom"><%= moment(tableItemObject.updatedAt).fromNow() %></td>
                                                                <td class="td-custom">
                                                                    <a type="button" class="btn btn-block btn-primary" href="/account/activity?type=user&user=<%= tableItemObject._id %>">Aktivitas</a>

                                                                    <% if (roleCheck(userObject.role, roleConvert(tableItemObject.role.toLowerCase()) + 1)) { %>
                                                                        <a type="button" class="btn btn-block btn-<%= tableItemObject.status == 'Aktif' ? 'danger' : 'success' %>" onclick="confirmModal('location', '/<%= pageItemCurrent.link %>/active?id=<%= tableItemObject._id %>');"><%= tableItemObject.status == 'Aktif' ? 'Matikan' : 'Aktifkan' %></a>
                                                                        <a type="button" class="btn btn-block btn-warning" href="/<%= pageItemCurrent.link %>/update?id=<%= tableItemObject._id %>">Ubah</a>
                                                                        <a type="button" class="btn btn-block btn-danger" href="/<%= pageItemCurrent.link %>/update-password?id=<%= tableItemObject._id %>">Ubah Password</a>
                                                                        <a type="button" class="btn btn-block btn-danger" href="/<%= pageItemCurrent.link %>/delete?id=<%= tableItemObject._id %>">Hapus</a>
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                <% 
                                                        });
                                                    }
                                                %>
                                            </tbody>
                                            
                                            <tfoot>
                                                <tr>
                                                    <th class="th-custom">No.</th>

                                                    <% tableAttributeArray.forEach(tableAttributeObject => { %>
                                                        <th class="th-custom"><%= tableAttributeObject.label %></th>
                                                    <% }); %>

                                                    <th class="th-custom export">Aktivitas</th>
                                                    <th class="th-custom">Dibuat</th>
                                                    <th class="th-custom">Diubah</th>
                                                    <th class="th-custom">Aksi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a type="button" class="btn btn-block btn-primary" href="/<%= pageItemCurrent.link %>/create">Buat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./../../../partials/footer.ejs"); -%>
        </div>

        <%- include("./../../../partials/script.ejs"); -%>
    </body>

    <%- include("./../../../partials/data-table-script.ejs"); -%>
    <%- include("./../../../partials/toast-script.ejs"); -%>
</html>
