<% const pageItemCurrent = findPageItemChild(navActive[0], navActive[1]); %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../../../partials/head.ejs"); -%>
        <%- include("./../../../partials/select-head.ejs"); -%>
        <%- include("./../../../partials/sweet-alert-head.ejs"); -%>
        <%- include("./../../../partials/confirm-modal.ejs"); -%>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../../../partials/nav.ejs"); -%>
            <%- include("./../../../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <br>

                        <div class="row">
                            <div class="col-12">
                                <div class="card py-2">
                                    <div class="card-body pt-0 pb-3">
                                        <%- include("./../../../partials/form-head.ejs"); -%>

                                        <form>
                                            <%- include("./../../../partials/input-detailed.ejs", {detailedInputArray}); -%>

                                            <a type="button" href="/<%= pageItemCurrent.link %>/update" class="btn btn-block btn-warning">Ubah</a>

                                            <% if (userType == "user") { %>
                                                <a type="button" href="/<%= pageItemCurrent.link %>/update-password" class="btn btn-block btn-danger">Ubah Password</a>
                                            <% } %>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./../../../partials/footer.ejs"); -%>
        </div>

        <%- include("./../../../partials/script.ejs"); -%>
    </body>

    <%- include("./../../../partials/select-script.ejs"); -%>
</html>
