<% const pageItemCurrent = findPageItemChild(navActive[0], navActive[1]); %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../../../partials/head.ejs"); -%>
        <%- include("./../../../partials/select-head.ejs"); -%>
        <%- include("./../../../partials/sweet-alert-head.ejs"); -%>
        <%- include("./../../../partials/confirm-modal.ejs"); -%>
    </head>

    <body class="hold-transition sidebar-mini dark-mode layout-navbar-fixed layout-fixed text-smq">
        <div class="wrapper">
            <%- include("./../../../partials/nav.ejs"); -%>
            <%- include("./../../../partials/side.ejs"); -%>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <br>

                        <div class="row">
                            <div class="col-12">
                                <div class="card py-2">
                                    <div class="card-body pt-0 pb-3">
                                        <%- include("./../../../partials/form-head.ejs", {extraTitle: "Ubah Password"}); -%>

                                        <form action="/<%= pageItemCurrent.link %>/update-password" method="POST" onsubmit="return confirmModal('form', this);">
                                            <%- include("./../../../partials/input-detailed.ejs", {detailedInputArray}); -%>

                                            <button type="submit" class="btn btn-block btn-danger">Ubah Password</button>
                                            <a type="button" class="btn btn-block btn-danger" onclick="confirmModal('location', '.')">Kembali</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include("./../../../partials/footer.ejs"); -%>
        </div>

        <%- include("./../../../partials/script.ejs"); -%>
    </body>

    <%- include("./../../../partials/select-script.ejs"); -%>
    <%- include("./../../../partials/toast-script.ejs"); -%>
</html>
